<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D</key>
	<array>
		<string>豆豆钱图标</string>
		<string>叮当贷图标</string>
		<string>大地时贷_image</string>
	</array>
	<key>F</key>
	<array>
		<string>发薪</string>
	</array>
	<key>G</key>
	<array>
		<string>功夫贷图标</string>
	</array>
	<key>H</key>
	<array>
		<string>好贷</string>
	</array>
	<key>I</key>
	<array>
		<string>平安i贷图标</string>
	</array>
	<key>K</key>
	<array>
		<string>卡卡贷</string>
	</array>
	<key>M</key>
	<array>
		<string>马上金融</string>
		<string>名校贷图标1</string>
	</array>
	<key>N</key>
	<array>
		<string>你我贷_image</string>
	</array>
	<key>P</key>
	<array>
		<string>55</string>
		<string>平安普惠图标</string>
	</array>
	<key>R</key>
	<array>
		<string>融360</string>
	</array>
	<key>S</key>
	<array>
		<string>手机贷</string>
		<string>贷款王</string>
		<string>33</string>
		<string>闪电借款</string>
		<string>省呗图标</string>
	</array>
	<key>W</key>
	<array>
		<string>我来贷</string>
	</array>
	<key>U</key>
	<array>
		<string>u族图标</string>
	</array>
	<key>X</key>
	<array>
		<string>22</string>
		<string>11</string>
		<string>小赢卡贷图标</string>
		<string>小花钱包_image</string>
	</array>
	<key>Y</key>
	<array>
		<string>氧气贷_03</string>
	</array>
	<key>Z</key>
	<array>
		<string>渣打现代派_image</string>
		<string>宅e贷图标</string>
	</array>
</dict>
</plist>
