<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>D</key>
	<array>
		<string>豆豆钱</string>
		<string>叮当贷</string>
		<string>大地时贷</string>
	</array>
	<key>F</key>
	<array>
		<string>发薪贷</string>
	</array>
	<key>G</key>
	<array>
		<string>功夫贷</string>
	</array>
	<key>H</key>
	<array>
		<string>好贷</string>
	</array>
	<key>I</key>
	<array>
		<string>i贷</string>
	</array>
	<key>K</key>
	<array>
		<string>卡卡贷</string>
	</array>
	<key>M</key>
	<array>
		<string>马上消费</string>
		<string>名校贷</string>
	</array>
	<key>N</key>
	<array>
		<string>你我贷</string>
	</array>
	<key>P</key>
	<array>
		<string>拍拍贷</string>
		<string>平安普惠</string>
	</array>
	<key>R</key>
	<array>
		<string>融360</string>
	</array>
	<key>S</key>
	<array>
		<string>手机贷</string>
		<string>随心贷</string>
		<string>闪银</string>
		<string>闪电借贷</string>
		<string>省呗</string>
	</array>
	<key>W</key>
	<array>
		<string>我来贷</string>
	</array>
	<key>U</key>
	<array>
		<string>U族</string>
	</array>
	<key>X</key>
	<array>
		<string>现金巴士</string>
		<string>信用钱包</string>
		<string>小赢卡贷</string>
		<string>小花钱包</string>
	</array>
	<key>Y</key>
	<array>
		<string>氧气贷</string>
	</array>
	<key>Z</key>
	<array>
		<string>渣打现代派</string>
		<string>宅e贷</string>
	</array>
</dict>
</plist>
